@import "tailwindcss";

/* *{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} */

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Standard */
}
